@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 1488px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100;
}

.side-bar {
  height: 916px;
  width: 59px;
  background-color: #2B405B;
  .logo-area {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 6px;
    background-color: white;
    border-radius: 61px;
    cursor: pointer;
  }
  .icons {
    color: #ffffff;
    padding: 6px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      padding: 11.5px;
      margin-bottom: 11.5px;
      border-radius: 2px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
}

.page-body {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  background-color: #f9f9f9;
  padding: 0.6%;
}

.options-box {
  background-color: #FF9600;
}

.top-content{
  display: flex;
  height: min-content;
  width:100%;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.6%;
  max-width: 98.75%;
  .left {
    display: flex;
    flex-direction: row;
    width: 50%;
    .text-logo {
      margin-right: 2.9%;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.3px;
      padding-top: 4px;
      padding-left: 1px;
      color: #2B405B;
    }
    .invite-bar{
      width: 100%;
    }
    input[type=text] {
      width: 27.1%;
      height: 26px;
      color: #77909D;
      border: 1px solid #D8DDE6;
      border-radius: 5px;
      background-color: white;
      background-image: url('../assets/Mywidget - icon - default.svg');
      background-position: -3px -2px;
      background-repeat: no-repeat;
      margin-right: 1.76%;
      padding-left: 5.5%;
    }
    button {
      width: 13.2%;
      color: #ffffff;
      border: 0;
      border-radius: 5px;
      background-color: #FF9600;
      cursor: pointer;
    }
    #invite-form {
      display: flex;
      padding-top: 2.5px;
    }
  }
  .right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5px;
    padding-right: 2px;
    .current-time {
      align-self: center;
      font-size: 14px;
      letter-spacing: -0.11px;
      color: #2B405B;
    }
    .timezone {
      width: 31%;
      margin-left: 1.5%;
      select {
        width: 100%;
        height: 30.5px;
        border: 1px solid #D8DDE6;
        border-radius: 5px;
        background-color: white;
        font-size: 14px;
        font-family: Roboto;
        padding-left: 8px;
        padding-top: 1px;
        letter-spacing: -0.265px;
        -webkit-appearance: none;
        background-image: url('../assets/dropdown arrow down - icon.svg');
        background-position: 180px -2px;
        background-repeat: no-repeat;
        option {
          color: #2B405B;
        }
      }
    }
  }
  .mobile-header {
    display: none;
  }
}

.main-content {
  padding: 0.3%;
  display: flex;
  flex-wrap: wrap;
  .row {
    display: flex;
    margin-bottom: 7.5px;
  }
}


.widget {
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.1);
  margin: 0.45% 0.6%;
  margin-left: 0.8%;
  margin-right: 0.75%;
  .header {
    height: 44px;
    border-bottom: 1.5px solid #D8DDE6;
    padding-top: 4px;
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
    .title {
      font-family: Roboto;
      .small {
        color: #77909D;
      }
      .big {
        margin: 0px;
        color: #2B405B;
        display: inline;
        letter-spacing: 0.25px;
        font-size: 15px;
        &:before {
          content:"\a";
          white-space: pre;
        }
      }
    }
    .options {
      display: flex;
      align-items: center;
      .period {
        padding-bottom: 4px;
        select {
          width: 87px;
          border: none;
          color: #77909D;
          background-color: white;
          font-size: 14px;
          font-family: Roboto;
          padding-top: 1px;
          padding-left: 2px;
          -webkit-appearance: none;
          background-image: url('../assets/dropdown arrow down - icon.svg');
          background-position: 62px -7px;
          background-repeat: no-repeat;
        }

      }
    }
  }
  .body {
    height: 208.5px;
    border-bottom: 1.5px solid #D8DDE6;
    .chart {
      display: block;
      height: 184px !important;
      width: 435px !important;
    }
    .line-chart {
      height: 201px !important;
    }
    .pics {
      display: flex;
      justify-content: space-between;
      padding-left: 43px;
      padding-right: 20px;
      .people-label {
        position: relative;
        top: -5px;
        img {
          width: 30px;
        }
      }
      .no-pic {
        border-radius: 27px;
        margin-top: 5px;
        height: 20px;
        width: 20px;
        font-size: 10px;
        display: flex;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
      .green {
        background-color: #51BE71;
      }
      .cyan {
        background-color: #00D2ED;
      }
      .purple {
        background-color: #5A68C6;
      }
      .teal {
        background-color: #158A9E;
      }
      .pink {
        background-color: #F65161;
      }
    }
  }
  .footer {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    height: 29px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 13.4px;
    color: #77909D;
    a {
      text-decoration: none;
      color: #77909D;
    }
    .left {
      padding-left: 13px;
      padding-top: 7px;
    }
    .right {
      padding-right: 15px;
      padding-top: 6px;
    }
  }
}


.one-third:nth-child(1) {
  margin-left: 0.4% !important;
  margin-right: 0.7% !important;

  .menu-button {
    width: 37px !important;
    padding-top: 1px !important;
    padding-right: 10px !important;
    border: none !important;
    background-color: white !important;
    border-radius: 40px !important;
  }
}
.one-third:last-child {
  margin-left: 0.6% !important;
  margin-right: 0.4% !important;
}

.one-third {
  min-width: 451px;
  max-width: 451px;
  min-height: 288px;
  max-height: 288px;
  .header {
    .options {
      .menu-button {
        padding-left: 1px;
        width: 34px;
        padding-top: 3px;
        padding-right: 1px;
        border: none;
        background-color: white;
        border-radius: 40px;
        cursor: pointer;
        &:focus {
          outline:none;
        }
      }
    }
  }
  .body {

    .menu-options {
      visibility: hidden;
      position: absolute;
      width: 451px;
      height: 239px;
      background-color: white;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      z-index: 2;
      transition: visibility 0s, opacity 0.5s linear;
      .content {
        padding: 13px;
        form {
          label {
            display: block;
            font-size: 13px;
            color: #77909D;
          }
          select {
            width: 100%;
            margin: 6px 0px 0px 0px;
            height: 30px;
            border-radius: 5px;
            color: #77909D;
            border-color: #77909D;
            &:focus {
              outline:none;
            }
          }
          p {
            font-size: 13px;
            color: #77909D;
          }
          .buttons {
            float: right;
            margin-top: 20px;
            .cancel-button{
              background-color: #ffffff;
              border: none;
              background-image: url('../assets/cancelbutton - web - default.svg');
              background-repeat: no-repeat;
              height: 32px;
              width: 80px;
              cursor: pointer;
              &:hover {
                background-image: url('../assets/cancelbutton - web - hover.svg');
                background-repeat: no-repeat;
              }
            }
            .save-button {
              background-color: #ffffff;
              border: none;
              background-image: url('../assets/savebutton - web - default.svg');
              background-repeat: no-repeat;
              height: 32px;
              width: 80px;
              cursor: pointer;
              &:hover {
                background-image: url('../assets/savebutton - web - hover.svg');
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
    .visible {
      visibility: visible;
      opacity: 1;
     }
  }
}
