.wrapper-dropdown-3 {
  position: relative;
  margin: 0 auto;
  background: #fff;
  cursor: pointer;
  color: #8AA8BD;
  padding-right: 17.5px;
  top: -1.5px;
  letter-spacing: -0.2px;
  font-size: 13.5px;
  width: 84px;
  &:focus {
    outline:none;
  }
  .selected-option {
    float: right;
  }
}

.wrapper-dropdown-3:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 5px 0 5px;
  border-style: solid;
  border-color: #77909D transparent;
}

.dropdown {
  padding-left: 0px;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
  position: absolute;
  top: 89%;
  left: -57px;
  right: 0;

  width: 169%;
  color: #2B405B;;

  /* Styles */
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.17);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: normal;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  list-style: none;

  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.wrapper-dropdown-3 .dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 7px 7px;
  border-style: solid;
  border-color: rgba(0,0,0,0.1) transparent;
}

.wrapper-dropdown-3 .dropdown li a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #8aa8bd;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: inset 0 1px 0 rgba(255,255,255,1);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
  background: #657fac;
  color: #ffffff;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
  display: none;
  opacity: 1; /* If opacity support but no pointer-events support */
  pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
  display: block;
}
